.item-detail-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  width: auto;
  height: auto;
  padding: 2rem;
  border-radius: 10px;
}

.item-detail-image {
  width: 150px;
  height: 150px;
}

.item-description-box {
  margin-top: 20px;
}

.item-detail-description {
  inline-size: 550px;
}

.item-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
