.item-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	min-height: 500px;
	padding: 10px;
	margin-bottom: 4rem;
	background-color: white;
	color: black;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transition: transform 0.5s;
}

.item-box:hover {
	transform: translateY(-5px);
}

.item-category {
	text-transform: uppercase;
}

.item-image {
	width: 200px;
	height: 200px;
	padding: 1rem;
}

.item-title {
	padding: 1rem;
}

.item-price {
	padding: 1rem;
}

.item-details {
	color: black;
	padding: 1rem;
}
