.header {
	background-color: #282c34;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color: white;
	padding: 0 1rem;
}

.menu {
	display: flex;
	align-items: center;
}

.menu li {
	list-style-type: none;
	padding: 0 1rem;
}

.menu li a {
	text-decoration: none;
	color: white;
}

.cart-box {
	position: relative;
}

.cart-box p {
	background-color: red;
	font-size: 13px;
	font-weight: 700;
	padding: 1px 3px;
	border-radius: 5px;
	position: absolute;
	top: -30px;
	right: 2px;
}
