.cart-box {
  display: flex;
  flex-direction: column;
}

.cart-box p {
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: 500;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: 10px;
}
